<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos</title>
    <link href="./assets/styles.css?{{time}}" rel="stylesheet" />
  </head>
  <body class="min-h-screen flex flex-col"></body>
    {{template "header" .}}
    <div class="container mx-auto w-full py-4 px-6">
      <form
        class="flex flex-row flex-nowrap gap-1"
        id="newTodoForm"
        hx-post="/api/todos"
        hx-swap="none"
        hx-ext="submitjson"
        hx-on::after-request="newTodo(event)"
      >
        <input
          type="text"
          minlength="4"
          placeholder="Enter New Todo here"
          class="input input-sm mr-1"
          id="new-todo"
          name="description"
          required
        />
        <button class="btn btn-accent btn-sm" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <span class="max-sm:hidden">Add</span>
        </button>
      </form>
      <button
        id="refreshTodos"
        class="w-0 h-0"
        hx-get="/api/todos"
        hx-swap="outerHTML"
        hx-target="#todoList"
        hx-ext="addhtmlheader"
      ></button>
      {{ template "todoList" . }}
    </div>

    {{ template "modal" }}
    
    <div id="toasts"></div>

    <script src="./assets/scripts.js?{{time}}"></script>
  </body>
</html>
