{{ define "todoList" }}
<ul class="list bg-base-100 rounded-box shadow-md" id="todoList">
  <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">List of ToDo Items</li>

  {{ range $index, $task := .Tasks }}
  <li class="list-row max-sm:flex max-sm:flex-col">
    <div class="text-5xl font-thin opacity-30 tabular-nums max-sm:hidden">
      {{ $index | add 1}}
    </div>
    <div class="list-col-grow">
      <div>
        <span id="desc" onclick="showEditForm(event)">
          {{ $task.Description }}
        </span>

        <form
          id="edit-desc"
          hx-patch="/api/todos/{{$task.Id}}"
          hx-ext="submitjson"
          hx-swap="none"
          hx-on::after-request="updateTodo(event)"
          style="display: none"
          class="mb-1"
        >
          <input
            type="text"
            name="description"
            value="{{ $task.Description }}"
            class="input input-bordered input-xs"
          />
          <button type="submit" class="btn btn-outline btn-xs btn-accent">
            update
          </button>
          <button type="button" class="btn btn-outline btn-xs btn-error">
            cancel
          </button>
        </form>
      </div>
      <div class="text-xs font-semibold opacity-60 flex flex-row">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4 mr-1.5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        {{ $task.CreatedAt | formatTime }},
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4 mx-1.5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
          />
        </svg>
        {{ $task.UpdatedAt | formatTime }}
      </div>
    </div>

    <form class="w-full">
      {{ if $task.Done }}
      <input type="checkbox" hidden name="done" checked />
      {{ else }}
      <input type="checkbox" hidden name="done" />
      {{end}}
      <button
        type="submit"
        class="btn btn-xs w-full md:w-auto btn-outline {{ if $task.Done }} text-success {{ else }} text-primary {{end}} "
        hx-patch="/api/todos/{{$task.Id}}"
        hx-swap="none"
        hx-ext="submitjson"
        hx-on::after-request="updateTodo(event)"
        onclick="this.form.elements['done'].checked = this.form.elements['done'].checked ? false : true;"
      >
        Mark as {{ if $task.Done }} undone {{ else }} done {{end}}
      </button>
    </form>
    <button
      class="btn btn-xs btn-outline text-error"
      hx-delete="/api/todos/{{$task.Id}}"
      hx-swap="none"
      hx-on::after-request="deleteTodo(event)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
        />
      </svg>
      Delete
    </button>
  </li>
  {{ end }}
</ul>
{{ end }}
